#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Install application files
	mkdir -p debian/systemd-motion/usr/share/systemd-motion
	cp -r motion/ debian/systemd-motion/usr/share/systemd-motion/
	cp pyproject.toml debian/systemd-motion/usr/share/systemd-motion/
	cp README.md debian/systemd-motion/usr/share/systemd-motion/
	
	# Install scripts
	mkdir -p debian/systemd-motion/usr/bin
	cp scripts/motion-ctl debian/systemd-motion/usr/bin/
	cp scripts/motion-gui debian/systemd-motion/usr/bin/
	chmod +x debian/systemd-motion/usr/bin/*